
.movie-card {
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.07);
}

.movie-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.movie-info {
  padding: 12px;
  text-align: center;
}

.movie-info button {
  margin-top: 10px;
  background: red;
  border: none;
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}