body{
  background:#0f0f0f;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

/* TOP BUTTONS */

.top-buttons{
display:flex;
justify-content:flex-end;
gap:10px;
margin:20px 40px;
}

.top-buttons button{
padding:8px 14px;
border:none;
background:white;
cursor:pointer;
border-radius:6px;
font-weight:bold;
}

.top-buttons button:hover{
background:#ddd;
}

/* SEARCH BAR */

.search-bar{
  text-align:center;
  margin:20px;
  position:relative;
}

.search-bar input{
  padding:12px;
  width:320px;
  border:none;
  border-radius:25px;
  outline:none;
  font-size:15px;
}

.search-bar button{
  padding:10px 20px;
  margin-left:10px;
  background:red;
  border:none;
  color:white;
  border-radius:20px;
  cursor:pointer;
}

.search-bar button:hover{
  background:#ff3b3b;
}

/* SEARCH SUGGESTIONS */

.suggestion-box{
  position:absolute;
  background:#1c1c1c;
  width:320px;
  left:50%;
  transform:translateX(-50%);
  border-radius:8px;
  margin-top:5px;
}

.suggestion-item{
  padding:10px;
  cursor:pointer;
}

.suggestion-item:hover{
  background:#333;
}

/* GENRE BUTTONS */

.genre-buttons{
  text-align:center;
  margin-top:20px;
}

.genre-buttons button{
  margin:8px;
  padding:10px 18px;
  border:none;
  border-radius:20px;
  background:linear-gradient(45deg,#ff512f,#dd2476);
  color:white;
  cursor:pointer;
  font-weight:bold;
  transition:0.3s;
}

.genre-buttons button:hover{
  transform:scale(1.1);
}

/* ACTIVE BUTTON */

.genre-buttons button.active{
  background:#00ffc8;
  color:black;
  box-shadow:0 0 12px #00ffc8;
}

/* MOVIE GRID */

.movie-container{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
  gap:30px;
  padding:40px;
}

/* MOVIE CARD */

.movie-card{
  background:#111;
  border-radius:10px;
  overflow:hidden;
  transition:0.3s;
}

.movie-card:hover{
  transform:scale(1.08);
}

.movie-card img{
  width:100%;
  height:300px;
  object-fit:cover;
}

.movie-info{
  padding:10px;
  text-align:center;
}