body{
  background:#0f0f0f;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

/* SEARCH BAR */

.search-bar{
  text-align:center;
  margin:20px;
  position:relative;
}

.search-bar input{
  padding:12px;
  width:320px;
  border:none;
  border-radius:25px;
  outline:none;
  font-size:15px;
}

.search-bar button{
  padding:10px 20px;
  margin-left:10px;
  background:red;
  border:none;
  color:white;
  border-radius:20px;
  cursor:pointer;
  transition:0.3s;
}

.search-bar button:hover{
  background:#ff3b3b;
  transform:scale(1.05);
}

/* SEARCH SUGGESTION BOX */

.suggestion-box{
  position:absolute;
  background:#1c1c1c;
  width:320px;
  left:50%;
  transform:translateX(-50%);
  border-radius:8px;
  margin-top:5px;
  text-align:left;
}

.suggestion-item{
  padding:10px;
  cursor:pointer;
}

.suggestion-item:hover{
  background:#333;
}

/* GENRE BUTTONS */

.genre-buttons{
  text-align:center;
  margin-top:20px;
}

.genre-buttons button{
  margin:8px;
  padding:10px 18px;
  border:none;
  border-radius:20px;
  background:linear-gradient(45deg,#ff512f,#dd2476);
  color:white;
  cursor:pointer;
  font-weight:bold;
  transition:0.3s;
}

.genre-buttons button:hover{
  transform:scale(1.15);
  box-shadow:0px 0px 12px rgba(255,0,100,0.7);
}

/* MOVIE GRID */

.movie-container{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:30px;
  padding:40px;
}

/* MOVIE CARD */

.movie-card{
  background:#111;
  border-radius:10px;
  overflow:hidden;
  transition:0.3s;
}

.movie-card:hover{
  transform:scale(1.08);
}

.movie-card img{
  width:100%;
  height:300px;
  object-fit:cover;
}

.movie-info{
  padding:10px;
  text-align:center;
}
.trailer-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.95);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:5000;
}

.trailer-container{
  position:relative;
  width:90%;
  max-width:1000px;
}

.trailer-container iframe{
  width:100%;
  height:550px;
  border:none;
  border-radius:10px;
}

/* close button */

.close-btn{
  position:absolute;
  top:-40px;
  right:0;
  background:red;
  color:white;
  border:none;
  padding:8px 12px;
  font-size:18px;
  cursor:pointer;
  border-radius:5px;
}

.close-btn:hover{
  background:#ff3333;
}
.movie-card{
  min-width:200px;
  max-width:200px;
  background:#111;
  border-radius:10px;
  overflow:hidden;
  transition:0.3s;
}

.movie-card:hover{
  transform:scale(1.08);
}

.movie-card img{
  width:100%;
  height:300px;
  object-fit:cover;
}

.movie-info{
  padding:10px;
  text-align:center;
}